header{
text-align: center;
font-size: 90px;
color:white;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;
}
.head1{
text-align: center;
font-size: 70px;
}
.head2{    
margin-left: 470px;
width: 20px;
margin-top: -79px;  
font-size: 70px;
}
.head3{ 
margin-left: 950px;
width: 20px;
margin-top: -79px;  
font-size: 70px;
}
.button{
text-decoration: none;
color: rgb(255, 255, 255);
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;
}