*{
    padding: 0;
    margin:0;
}
head{
display: none;    
}
html, body {
    background: #000;
    color: #fff;
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
}
body {
    display: block;
    margin: 8px;
}